**/Makefile
bin/
lib/
nls/
obj/
CMakeCache.txt
**/cmake_install.cmake
**/CTestTestfile.cmake
**/CMakeFiles/
cmake-build*
.idea/
xalan-c.pc
src/xalanc/NLS/gen/
src/xalanc/NLS/include/
src/xalanc/Xalan
**/libxalan-c*
**/libxalanMsg*
src/xalanc/PlatformSupport/LocalMsgIndex.hpp
src/xalanc/Utils/MsgCreator/MsgCreator
src/xalanc/XalanCConfig.cmake
src/xalanc/XalanCConfigVersion.cmake
*.out
