/* Xalan Stylesheet */

html > bod  {left:0;}
body {
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
  font-family: arial, "lucida console", san-serif;
}

/* Emulate table align=center */
div.centered, td.centered {
  text-align: center;
}

div.centered table {
  margin: 0 auto;
  text-align: left;
}

/*
 * ID Sections
 */

#content {
  width: 80%;
  float: left;
  font-size: 12pt;
  padding-top: 1em;
  padding-left: 5px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

#navLeft {
  clear: left;
  width: 15%;
  float: left;
  padding: 2px;
  margin-left: 1%;
  color: red;
  position: relative;
  left: 1px;
}

#title {
  color: black;
  background-color: #eee;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0;
  font-size: 16pt;
  height: 86px;
  vertical-align: middle;
}


#footer {
    clear: both;
    margin: 0 2em;
    color: #444;
    background-color: #eee;
    text-align: center;
    padding: .5em 0;
    font-size: 75%;
    border-top: 1px solid #ccc;
}

/*
 * Anchors
 */

a {
  color: blue;
  text-decoration: undedrline;
}

a img {
  border: 0;
}

a:hover {
  text-decoration: none;
  background-color: #d7c9c9;
}

/*
 * Headers
 */

h1 {}

#title h1 {
  padding: 1px 0;
  margin: 0;
  float: right;
  width: 60%;
  font-size: 20pt;
  text-align: center;
}

#content h1 { background-color: #ee5 }

h2 {}

#title h2 {
  font-size: 14pt;
  width: 60%;
  text-alignment: center;
  padding: 1px 0;
  margin: 0;
}

#content h2 { background-color: #ee5 }

#content h2.year {
  background-color: #ddd;
  text-align: center;
}

h3 {}

#content h3.monthName {
  background-color: #333;
  text-align: center;
}

#content h3 { background-color: #ee5 }

h4{}

#content h4.eventTitle {
  margin-left: 1%;
  border-bottom: 1px solid blue;
}

/*
 * Tables
 */

th {}

td {}

#content th {background-color: #0BC }
#content td {background-color: #0EF }

/*
 * Lists and navLeft
 */

ul {}

#navLeft ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navLeft ul li {
  margin: 0;
}

#navLeft ul li p {
  margin: 0;
}

#navLeft ul li ul {
  list-style-type: none;
  font-size: 90%;
  margin: 0 2em;
}

#navLeft ul li ul li {
  margin: 0;
}

/*
 * Paragraphs
 */

p {}

#navLeft p {
  text-align: center;
  padding: 0 auto;
  margin: 0;
}

#footer p {
  padding: 0;
}

#content p.topalign {
  vertical-align: middle;
  height: 2em;
  text-align: center;
  width: 100%;
  padding: .5em;
  border: 1px solid #ddd;
}

#content p.topalign img {
  vertical-align: middle;
  text-align: text-middle;
}

#content p.quote {
  color:black;
  font-style: italic;
  font-size: 110%;
  margin-left: 10%;
  margin-right: 10%;
  padding 1em;
  border: 1px solid #ddd;
  text-align: center;
}

#content p.navbar {
  font-size: 90%;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

blockquote {}

blockquote.note {
  font-size: 80%;
  border: 1px solid #ddd;
  background-color: #eee;
}

blockquote.source {
  font-size: 75%;
}

code {
  font-size: 75%;
}


/*
 * Images
 */

img {}

Title img {
  float: left;
  border: 0;
  padding: 2px;
}

#footer img {
  border: 0;
}


/*
 * Document Divisions
 */

div {}

/*
 * Pre
 */

pre {}


/*
 * Generic Classes
 */

.indented {
  margin-left: 3%;
}

.topBanner {
  float: right;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

.noborder {
  border: 0;
  margin: 0;
}















